@mixin flex{
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  @include flex();
  flex-direction: column;
  align-items: center;
  padding: 10px;
  //margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 305.6000061035156px;
  width: 210px;
  position: relative;
  span {
    padding: 5px;
  }

  .movie-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}